* {
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
}
html {
    scroll-behavior: smooth;
}


@font-face {
    font-family: "lineage";
    src: url(../font/49_la2font.ttf);
}
@font-face {
    font-family: "AdelonBold";
    src: url(../font/AdelonBold.ttf);
}
@font-face {
    font-family: "AdelonRegular";
    src: url(../font/AdelonRegular.ttf);
}

#imagen_blur{
    font-family: "AdelonRegular";
    height: 100vh;
    background-size: cover;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(to bottom, transparent, #000 100%), url('../img/back.jpg');
    z-index: -1;
}
#main_index{
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(to bottom, transparent, #000 100%), url('../img/back2.jpg');
}

#body_7s{background-image: linear-gradient(to bottom, transparent, #000 100%), url('../img/back_7s1.jpg');}
#body_tw{background-image: linear-gradient(to bottom, transparent, #000 100%), url('../img/back_tw.jpg');}

#body_7s, #body_tw{
    font-family: "AdelonRegular";
    backdrop-filter: blur(5px);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#body_viejo{
    background-color: rgb(230, 168, 88);
    margin-left: 20% ;
    margin-right: 20%;
    box-shadow: 15px 0 10px -5px #353535, -15px 0 10px -5px #353535;
}


/* NAV */
header nav{
    margin:auto;
    /* background-color: #333; */
    background-color: rgba(33, 33, 33, 0.9);
    font-size: 20px;
    padding-left: 50px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.play_now{
    background-image: linear-gradient(0deg, #89640b, #e0ac32);
    padding: 10px 20px 10px 20px;
    transition: 0.5s;
}
.play_now:hover{
    filter: drop-shadow(0px 0px 2px rgb(244, 248, 248));
    transition: 0.5s;
}
.play_now > h2{
    height: fit-content;
    color: white;
    text-shadow: 1px 1px rgba(0,0,0,.5);
    font-weight: bold;
    font-family: "AdelonBold";
    
}
.play_now > h2 > a{
    text-decoration: none;
    color: white;
}

.menu_horizontal{
    list-style-type: none;
    display: flex;
    justify-content: start;
    gap: 50px;
}
.menu_horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu_vertical > li > a{
text-decoration: none;
} 
.menu_vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.menu_horizontal li:hover .menu_vertical{
    display: block;
}
.menu_vertical li:hover{
    background-color: black;
}

.menu_horizontal li:hover{
    background-color: black;
}


.menu_vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;


}



/* L2jlormor de cabecera  */
.div_l2jlormor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.div_l2jlormor a{
    text-decoration: none;
    color: #b1b1b1;
    text-shadow: 1px 1px rgba(0,0,0,.5);

}
.l2jlormor{
    font-family: "lineage";
    font-size: 50px;
    
}


/* etc */

#main_test{
    width: 70%;
    margin: auto;
    background-color: white;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.5);
    
}

.div_titulo{
    color: white;
    font-size: 25px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 22px rgba(0, 0, 0, 0.692);

}
.div_texto{
    margin: 30px 20% 20px 20%;
    padding-bottom: 50px;

    p{
        font-size: 20px;
    }
    img{
        text-align: center;
        width: 100%;
    }
    
}
.imagen_sin_tocar{
    width: auto !important;


}
.otra_class_recipe p img{
    width: auto !important;
}

.div_contenido_total{
    background-color: rgb(182, 133, 70);
    padding: 5px 0 10px 0;
    box-shadow: 2px 2px 22px black;
    border: 2px solid  black;
}
.img_en_texto{
    width: 40px;
    height: 40px;
}
.cabecera_dv{
    background-image: url(../img/img_cabecera/dragon_valley.jpg);
    background-size: cover; 
    margin-bottom: 5%;
    padding: 150px;
    box-shadow: 0px 0 20px 0px #353535, -15px 0 10px -5px #353535;
}
.cabecera_7rb{
    background-image: url(../img/img_cabecera/portal_7rb.png);
    background-size: cover; 
    margin-bottom: 5%;
    padding: 150px;
    box-shadow: 0px 0 20px 0px #353535, -15px 0 10px -5px #353535;
}
.cabecera_7s_1{
    background-image: url(../img/img_cabecera/anakim_lilith.png);
    background-size: cover; 
    margin-bottom: 5%;
    padding: 150px;
    box-shadow: 0px 0 20px 0px #353535, -15px 0 10px -5px #353535;
}
.cabecera_7s_2{
    background-image: url(../img/img_cabecera/guardias.png);
    background-size: cover; 
    margin-bottom: 5%;
    padding: 150px;
    box-shadow: 0px 0 20px 0px #353535, -15px 0 10px -5px #353535;
}
.cabecera_olys{
    background-image: url(../img/img_cabecera/olys.png);
    background-size: cover; 
    margin-bottom: 5%;
    padding: 150px;
    box-shadow: 0px 0 20px 0px #353535, -15px 0 10px -5px #353535;
}
.cabecera_tips{
    background-image: url(../img/img_cabecera/tips.png);
    background-size: cover; 
    margin-bottom: 5%;
    padding: 150px;
    box-shadow: 0px 0 20px 0px #353535, -15px 0 10px -5px #353535;

}
.cabecera_tw{
    background-image: url(../img/img_cabecera/tw.webp);
    background-size: cover; 
    margin-bottom: 5%;
    padding: 150px;
    box-shadow: 0px 0 20px 0px #353535, -15px 0 10px -5px #353535;
}
.cabecera_lucky{
    background-image: url(../img/img_cabecera/lucky_cerdos.png);
    background-size: cover; 
    margin-bottom: 5%;
    padding: 150px;
    box-shadow: 0px 0 20px 0px #353535, -15px 0 10px -5px #353535;
}
.cabecera_recipes{
    background-image: url(../img/img_cabecera/recipes.png);
    background-size: cover; 
    margin-bottom: 5%;
    padding: 150px;
    box-shadow: 0px 0 20px 0px #353535, -15px 0 10px -5px #353535;
}
.cabecera_enchant{
    background-image: url(../img/img_cabecera/enchant.png);
    background-size: cover; 
    margin-bottom: 5%;
    padding: 150px;
    box-shadow: 0px 0 20px 0px #353535, -15px 0 10px -5px #353535;
}
.cabecera_clasic{
    background-image: url(../img/img_cabecera/clasic.jpg);
    background-size: cover; 
    margin-bottom: 5%;
    padding: 150px;
    box-shadow: 0px 0 20px 0px #353535, -15px 0 10px -5px #353535;
}
.cabecera_master{
    background-image: url(../img/img_cabecera/masterwork.png);
    background-size: cover; 
    margin-bottom: 5%;
    padding: 150px;
    box-shadow: 0px 0 20px 0px #353535, -15px 0 10px -5px #353535;
}
.div_img_centrada{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_img_cover{
    width: 100%;
}
.sangria{
    margin-left: 5%;
}
.columna_con_icono{

    display: flex;  
    justify-content: flex-start; 
    align-items: center;
}

.tres_puntitos{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40%;

}
#puntito1 , #puntito2, #puntito3{
    width: 10px;
    height: 10px;
    background-color: #353535;
    border-radius: 50%;
}
#puntito1{
    background-color: #8a8787;
}





/* boton up */

#boton_arriba{
    position: sticky;
    width: 50px;
    height: 50px;
    top: 90%;
    left: 90%;
    background-color: aqua;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}






/* INDEX */
.caja1 , .caja2 , .caja3{
    height: 300px;
    width: 30%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: 0.5s; 
}
.div_cajas{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    a{
        text-decoration: none;
    }
}
.caja1{
    background-image: linear-gradient(to bottom, transparent, #000 100%), url(../img/index/baylor.jpg);;
}
.caja2{
    background-image: linear-gradient(to bottom, transparent, #000 100%), url(../img/index/elemento.jpg);;
}
.caja3{
    background-image: linear-gradient(to bottom, transparent, #000 100%), url(../img/index/elcadia.jpg);;
}
.caja1:hover{
    background-image: linear-gradient(to bottom, transparent, #000 100%), url(../img/index/gif_baylor.gif);;
}


.caja1  h2 , .caja2  h2 , .caja3  h2{
    padding-top: 6px;
    margin-left: 30px;
    margin-bottom: 5px;
}
.caja1 p ,.caja2 p ,.caja3 p {
    margin-left: 30px;
    margin-bottom: 20px;
}
.caja1:hover , .caja2:hover , .caja3:hover{
    transition: 0.5s;
    transform: translate(0 , -10px);
    filter: drop-shadow(0px 0px 10px rgb(244, 248, 248));
}
.caja1:hover .div_para_hover{
    border-top: 5px solid cyan;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.caja2:hover .div_para_hover{
    border-top: 5px solid rgb(50, 6, 153);
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.caja3:hover .div_para_hover{
    border-top: 5px solid rgb(206, 12, 12);
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.slider--inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.3s ease-in;
    align-items: center;
    padding-left: 20px;
    
}
.slider--inner div{
    display: flex;

}

.slider{
    overflow:hidden;
    margin-top: 60px;
}




/* /////////////////Elemento /////////////////// */

.columna_backgroudn{
    background-color: rgb(182, 133, 70) !important; 
}
.columna_backgroudn2{
    background-color: rgb(207, 150, 76);
}
.color_rojo{
    color: red;
    -webkit-text-stroke: 0.5px #000;
    font-weight: bold;
    font-size: 20px;
}
.color_azul{
    color: blue;
    -webkit-text-stroke: 0.5px #000;
    font-weight: bold;
    font-size: 20px;
}
.color_verde{
    color: green;
    -webkit-text-stroke: 0.5px #000;
    font-weight: bold;
    font-size: 20px;
}
.color_celeste{
    color: aquamarine;
    -webkit-text-stroke: 0.5px #000;
    font-weight: bold;
    font-size: 20px;
}
.color_violeta{
    color: purple;
    -webkit-text-stroke: 0.5px #000;
    font-weight: bold;
    font-size: 20px;
}
.color_gris{
    color: grey;
    -webkit-text-stroke: 0.5px #000;
    font-weight: bold;
    font-size: 20px;
}

/* //////////////////////////////////////////////// */

/* //////////////Tooltoip////////////// */
.tooltip{
    font-weight: bold;
    position: relative;
}
.tooltip:hover{
    text-decoration: underline;
}
.tooltip:hover .tooltip-box{
    display: inline-block;
}
.tooltip-box{
    position: absolute;
    background: black;
    width: fit-content;
    z-index: 500;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;    
    left: 0;
    right: 0;
    bottom: 30px;
    display: none;
}
.tooltip-box::after{
    content: "";
    display: block;
    border-top: 10px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: calc(25% - 7px);
}

/* ////////////////////////// */
/* 7s */
#Forgos tr td{
    text-align: center; 
    margin: 0 auto;
}
#Forgos_clases{
    text-align: left !important;

}



/* ////////////// SA //////////////// */
table tr td img{
    width: 40px;
    height: 40px;
}
table{
    width: 100%;
    margin-top: 50px;
    background-color: rgb(230, 168, 88);
}
.colum_1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    gap: 10px;
}

#armas_vesper li{
    list-style-type: none;
    display: inline-block;
    margin: 5px;
}
.div_armas_vesper{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


/* /////////////////////////////// */

/* Laboratorio de Zorak */

.img_zorak{
    width: 160px;
    height:120px;
}
#zorakbeza{
    position: absolute;
    
}
.div_zorakdialogo{

    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 20px;
    p{
        margin-left: 20px;
        font-size: 30px;
        color: white;
        
    }
}
.div_burbuja_dialogo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    border-radius: 30px;
    gap: 10px;
}
/* *********************************************** */










@media (max-width: 1300px){
    .div_cajas{
        margin-top: 40%;
    }

    
}
@media (max-width: 1600px){

    #main_test{
        width: 80%;
    }
    
}
